*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #033e72;
}
h2{
    color: #1060a5;
}
p{
    color: black;
}
a{
    color: #194e19;
}
li{
    color: black;
}